


<h2>قائمة الطلاب</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">age</th>
            <th scope="col">email</th>
            <th scope="col">adress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.ID</th>
                <td>@student.name</td>
                <td>@student.age</td>
                <td>@student.email</td>
                <td>@student.address</td>
                <td>
                    <a asp-action="Edit" asp-controller="student" asp-route-id="@student.ID" class="btn btn-outline-primary">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="student" asp-route-Id="@student.ID">delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

